*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 background-color: #fff;
 width: 100vw;
 height: 100vh;
 font-family: cursive;
 display: flex;
 align-items: center;
 justify-content: center;
}

h1{
 font-size: 40px;
 background: rgb(215,26,68);
background: linear-gradient(249deg, rgba(215,26,68,1) 14%, rgba(218,28,160,1) 34%, rgba(0,255,61,1) 59%, rgba(207,218,26,1) 76%, rgba(189,221,29,1) 90%);
color:transparent;
-webkit-background-clip:text;
background-size: 300% 300%;
animation-name: animation;
animation-duration: 3s;
animation-timing-function: ease;
animation-iteration-count: infinite;

}


@keyframes animation{

 0%{
  background-position: 0% ;
 }
 50%{
  background-position: 100%;
 }
 100%{
  background-position: 0%;
 }
 
}