
  @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Dancing+Script&family=EB+Garamond&family=Kanit&family=Lora:ital@1&family=Open+Sans&family=Prompt&family=Roboto+Mono&display=swap');


  *{
   padding:0;
   margin:0;
   box-sizing: border-box;

  }
  body{
   width:100vw;
   height: 100vh;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-family: 'EB Garamond', serif;
  background-size: 300% 300%;
 animation-name: animatedBackground;
 animation-duration: 2s;
 animation-timing-function: ease;
 animation-iteration-count: infinite;
 display: flex;
 align-items: center;
 justify-content: center;
 }



 .header{
  width:400px;
  height:200px;
  background-color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  border-radius: 15px;
  color: #93c821;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }


 @keyframes animatedBackground {

  0%
  {
   background-position: 0%;
  }
  50%{
   background-position: 100%;
  }

  100%{
   background-position: 0%;
  }
  
 }