*{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 font-family:cursive
}

a{
 text-decoration: none;
}

.side-nav{
 width:250px;
 height: 100vh;
 position:fixed;
 top:0;
 left:0;
 background-color: rgb(3, 3, 61);
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.content{
 margin-left:250px;
 padding: 10px;
}

.logo{
 font-size: 20px;
 padding: 10px;
 font-family: 'Times New Roman', Times, serif;
 letter-spacing: 1px;
 font-weight: 600;
}

.navbar ul{
 list-style-type: none;
}

.navbar ul li{
 display: block;
 padding: 0 10px;
 height: 40px;
 line-height: 40px;
}

.navbar ul li:hover{
background-color: rgb(141, 200, 237);
cursor: pointer;

}

.navbar ul li a{
 color: white;
 font-weight: 400;
}

.nav-footer{
 text-align:center;
}

.nav-footer a{
 color:gold;
 font-weight:400;
}